
th {
    font-size: 2em;
    font-family: 'Dosis', sans-serif;
    color:white;
}

tr{
    text-align: left;
}

td {
   font-size: 2em;
   font-family: 'Dosis', sans-serif;
   color:white;
}

caption {
    font-size: 3em;
    caption-side: top;
    font-family: 'Dosis', sans-serif;
    color:#E65100;
    letter-spacing: 1px;

    margin-bottom: 1.5em;
    text-align: left;
}

table {

    width: 50%;
    
}

.resume--table{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.resume--load{
    margin: 5% 0 0 0;

    display: flex;
    flex-direction: column;
}

.center_btn{
    display: flex;
    justify-content: center;
}

/*========================
BTN
=========================*/

.btn {
	border: none;
	font-family: 'Dosis', sans-serif;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	transition: all 0.3s;
}

/*-------------------------------*/

.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	color:#fff;
    border: 3px solid #E65100;

}

/*==================
INPUT
==================*/

.index--input{
	display: flex;
	justify-content: center;
	width: 100%;
}

.index--input-single{
	margin: 0 0 1% 0;
}

td input{
	outline: none;
	border:2px solid hsl(0 0% 93%);
	background: hsl(0 0% 93%);
	border-radius: .25rem;
	padding: .50rem 0.5rem;
	font-size: 1em;
	transition: all 0.4s;
}

.input--element{
	width: 15em;
	margin: 0 3% 0 0;
}

.input--quantite{
	width: 6em;
}

input:hover{
	border:2px solid #E65100;
	transition: all 0.4s;
}